.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Nav {
  display: flex;
  flex-direction: row;
  background-color: rgb(230, 185, 185);
  color: white;
  justify-content: center;
  justify-content: space-around;
  height: 50px;
  font-size: 20px;
}

.desc {
  font-size: 14px;
  color: #282c34;
  text-align: center;
  text-align: justify;
  width: 70%;
  margin: 0 auto;
}

.dashboard{ 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.main {
  text-align: center;
}